
/*
 *Scrolling
 */

a[ id= "escritos" ]:target ~ #escritos {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

a[ id= "about" ]:target ~ #about {
    -webkit-transform: translateY( -500px );
    transform: translateY( -500px );
}
a[ id= "around" ]:target ~ #main article.panel {
    -webkit-transform: translateY( -1000px );
    transform: translateY( -1000px );
}

.navbar {
   background-color: transparent;
   background: transparent;
   border-color: transparent;
   padding: .75em 1em;
   position: absolute;
}

.navbar li { 
  color: #000;
  display: block;
  padding: .75em 1em;
} 

.navbar-default .navbar-header .navbar-brand {
  color: #fff;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 2px;
  font-weight: 600;
  font-style: normal;
  display: block;
  padding: 1em 1em;
}

.navbar-default .navbar-header .navbar-brand:hover,
.navbar-default .navbar-header .navbar-brand:focus {
  color: #fff;
}
.navbar-default .navbar-header .navbar-toggle {
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
}

.navbar-default .nav > li > a,
.navbar-default .nav > li > a:focus {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 15px;
  color: #fff;
  font-family: 'PT Sans Narrow', sans-serif;
  letter-spacing: 2px;
}

.navbar-default .nav > li > a:hover,
.navbar-default .nav > li > a:focus:hover {
  color: #fff;
}

.navbar-default .nav > li.active > a,
.navbar-default .nav > li.active > a:focus {
  color: #ffffff !important;
  background-color: transparent;
}

.navbar-default .nav > li.active > a:hover,
.navbar-default .nav > li.active > a:focus:hover {
  background-color: transparent;
}


a.mybtn {
  border: 1px solid #ffffff;
    color: #fff;
    font-family: sans-serif;
    font-weight: 600px;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
    background-color: transparent;
}

a.mybtn:hover {
  background-color: rgba(255, 255, 255, 0.4);
}

.jumbotron {
  background: url('../img/roots.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 480px;
}

.jumbotron {
  text-align: center;
}

.jumbotron h1 {
  background-color: #004c98;
  color: #ffffff;
  display: inline-block;
  padding: 5px 10px;
  font-family: sans-serif;
  margin-top: 180px;
}