/*
 *Scrolling
 */

a[ id= "product" ]:target ~ #product {
    -webkit-transform: translateY( 0px);
    transform: translateY( 0px );
}

a[ id= "about" ]:target ~ #about {
    -webkit-transform: translateY( -500px );
    transform: translateY( -500px );
}
a[ id= "get" ]:target ~ #get article.panel {
    -webkit-transform: translateY( -1000px );
    transform: translateY( -1000px );
}

.jumbotron {
	background: url('../images/header.jpg') no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height: 500px;
	text-align: center;
}

.jumbotron h1 {
	margin-bottom: 25px;
	margin-top: 125px;
}


.product, .about, .get {
    margin-top: 60px;
    margin-bottom: 35px;
}

.propo {
    margin: 2px 0px 2px 0px;
}

.list-inline li a {
    text-transform: uppercase;
    font-size: 10px;
}

a.btn-white {
	border: 1px solid #ffffff;
    color: #fff;
    font-family: sans-serif;
    font-weight: 600px;
    font-size: 10px;
    letter-spacing: 1.3px;
    padding: 10px 20px;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    margin-bottom: 20px;
    background-color: transparent;
}

.footer {
    background-color: #fff;
}



.get {
    background: url('../images/getbanner.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    border-bottom: 1px solid #dbdbdb;
    padding-bottom: 60px;
}

